.talk-container {
  width: 100%;
  margin: 0 auto;
}

.talk-content {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 20px;
  gap: 30px;
  margin-top: -2rem;
}

.talk-container .main-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.talk-container .main-title h1 {
  font-size: clamp(2rem, 6vw, 3rem);
  font-family: var(--Extra-Font);
  margin-top: 2rem;
}

.text-content {
  max-width: 700px;
}

.talk-container .talk-main-heading h1:nth-child(1) {
  background-color: #7bf1a8;
  color: var(--Background-Color);
  transform: rotate(-5deg);
  width: min-content;
  border-radius: 10px;
  padding: 10px;
  font-family: var(--Extra-Font);
}

.text-content h1:nth-child(2) {
  margin-top: 25px;
}

.talk-container .text-content h1 {
  font-size: clamp(2.1rem, 6vw, 3rem);
  font-family: "Edu TAS Beginner", cursive;
  letter-spacing: 1px;
  margin-bottom: -15px;
}

.talk-container .text-content p {
  font-size: 18px;
  margin-top: 40px;
  letter-spacing: 1px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 600px;
  width: 100%;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #d0bfff;
}

.contact-form textarea {
  min-height: 200px;
}

.contact-form button {
  padding: 20px;
  border-radius: 8px;
}

/* Responsive Styles */
@media only screen and (max-width: 1100px) {
  .talk-content {
    flex-direction: column;
  }

  .text-content h1:nth-child(1) {
    margin-top: 25px;
  }

  .contact-form label {
    max-width: 100%;
  }
}
